* {
  margin: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  align-self: center; /* TODO */
  z-index: 2;
}

.header__title h1 {
  padding: 0;
  margin: 0 0 0 64px;

  line-height: 96px;
  font-size: 102px;
}

.header__subtitle p{
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;

  margin: 0;
  padding: 0;

  line-height: 25px;
  font-size: 18px;
}

.header__link {
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.description {
  display: flex;
  align-items: center;
}

.two-columns {
  display: flex;
  margin: 100px auto;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.two-columns__main-text {
  padding-top: 0;
  width: 80%;
  min-width: 784px;
}

.two-columns__main-text p{
  padding-top: 0;
  margin: 0;
}

.two-columns__main-text p{
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__main-text p:nth-of-type(3n) {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title {
  width: 60%;
  margin: 0;
  padding: 0;

  line-height: 1.15;
  font-size: 60px;
  text-align: center;
}

.section-subtitle {
  margin-top: 20px;
  width: 60%;
  margin: 20px 0 0 0 ;
  padding: 0;

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto 100px auto;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.table__text {
  margin: 20px 0 0 0;
  padding: 0;

  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  height: 790px;
  text-align: center;
  background-color: #f2f2f2;
}

.feynman__title {
  position: relative;
  margin: 0 auto;
  padding: 100px 0 0 0;
  width: 648px;

  line-height: 1.15;
  font-size: 120px;
  z-index: 1;
}

.feynman__subtitle {
  position: relative;
  display: inline-block;
  margin: 70px 0 0 0 ;
  padding: 0;

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 10;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}

.kaufman {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  margin-top: 90px;
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table_theme_dark {
  margin: 0 auto 90px auto;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;

  width: 877px;
  height: 877px;
}

.footer{
  background-color: #1f1f1f;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  height: 200px; /*удали*/
  width: 90%;
  padding: 60px 0 40px 0;
  margin: 0 auto;
}

.footer__column_content_copyright {
  position: relative;
  width: 50%;
}

.logo_place_footer {
  margin-top: 0;
  margin-left: 0;
}

.footer__author {
  position: absolute;
  margin-top: 18px;
  bottom: 18px;
  left: 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  padding: 0;
  margin: 0 0 20px 0;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 16px;
}

.footer__column_links {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}


